<!DOCTYPE html>
<head>
<title></title>
</head>
<body>
<form action="/group" method="POST">
    <h2>add group</h2>


    
    <div>
        <label for="group">group</label>
        <select id="group" name="group">
           
            <option value="group1">Group1</option>
  <option value="group2">Group2</option>
            
        </select>
    </div>


    <button>Save Group</button>
    
</form>
</body>
</html>